body{
    background-color: white;
}

.section_btn{
    width: 100%;
    padding: 1rem;
    color: black;
    background-color: white;
    transition: 0.4s;
    border: none;
    outline: none;
}


.active , .section_btn:hover{
    background-color: whitesmoke;
}




.panel{
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s linear;
}



